<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
    
    <!-- Enable session state -->
    <sessionState mode="InProc" timeout="30" />
    
    <!-- Custom error pages -->
    <customErrors mode="RemoteOnly" defaultRedirect="~/ErrorPage.aspx">
      <error statusCode="404" redirect="~/NotFound.aspx" />
    </customErrors>
    
    <!-- Authentication settings (for Assignment 6) -->
    <authentication mode="Forms">
      <forms loginUrl="~/Login.aspx" timeout="30" />
    </authentication>
  </system.web>
  
  <system.serviceModel>
    <client>
      <!-- Service references will be added here -->
      <endpoint name="WeatherForecastEndpoint" address="http://localhost:YourPort/WeatherForecast.svc" binding="basicHttpBinding" contract="WeatherServices.IWeatherForecast" />
      
      <endpoint name="TemperatureConverterEndpoint" address="http://localhost:YourPort/TemperatureConverter.svc" binding="basicHttpBinding" contract="WeatherServices.ITemperatureConverter" />
      
      <endpoint name="RainyDayAdvisorEndpoint" address="http://localhost:YourPort/RainyDayAdvisor.svc" binding="basicHttpBinding" contract="WeatherServices.IRainyDayAdvisor" />
    </client>
  </system.serviceModel>
  
  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="Default.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
  
  <appSettings>
    <add key="WeatherApiKey" value="your-api-key-here" />
    <add key="DefaultLocation" value="Phoenix, AZ" />
    <add key="CacheDuration" value="30" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>