<?xml version="1.0"?>
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.8"/>
    <httpRuntime targetFramework="4.7.2"/>
    <!-- Enable session state -->
    <sessionState mode="InProc" timeout="30"/>
    <!-- Custom error pages -->
    <customErrors mode="RemoteOnly" defaultRedirect="~/ErrorPage.aspx">
      <error statusCode="404" redirect="~/NotFound.aspx"/>
    </customErrors>
    <!-- Authentication settings (for Assignment 6) -->
    <authentication mode="Forms">
      <forms loginUrl="~/Login.aspx" timeout="30"/>
    </authentication>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpsBinding_ITemperatureConverter">
          <security mode="Transport"/>
        </binding>
        <binding name="BasicHttpBinding_IRainyDayAdvisor"/>
        <binding name="BasicHttpBinding_ITemperatureConverter"/>
        <binding name="BasicHttpBinding_IWeatherForecast"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://localhost:44391/TemperatureConverter.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_ITemperatureConverter" contract="TemperatureServiceReference.ITemperatureConverter" name="BasicHttpsBinding_ITemperatureConverter"/>
      <endpoint address="http://webstrar50.fulton.asu.edu/Page1/RainyDayAdvisor.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRainyDayAdvisor" contract="RainyDayServiceReference.IRainyDayAdvisor" name="BasicHttpBinding_IRainyDayAdvisor"/>
      <endpoint address="http://webstrar50.fulton.asu.edu/Page1/TemperatureConverter.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITemperatureConverter" contract="TemperatureServiceReference.ITemperatureConverter" name="BasicHttpBinding_ITemperatureConverter"/>
      <endpoint address="http://webstrar50.fulton.asu.edu/Page1/WeatherForecast.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWeatherForecast" contract="WeatherServiceReference.IWeatherForecast" name="BasicHttpBinding_IWeatherForecast"/>
    </client>
  </system.serviceModel>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear/>
        <add value="Default.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
  <appSettings>
    <add key="WeatherApiKey" value="your-api-key-here"/>
    <add key="DefaultLocation" value="Phoenix, AZ"/>
    <add key="CacheDuration" value="30"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>