<?xml version="1.0"?>
<configuration>

	<!-- MUST target 4.0 so WebStrar will find your .svc -->
	<system.web>
		<compilation debug="true" targetFramework="4.0" />
	</system.web>

	<system.serviceModel>
		<behaviors>
			<serviceBehaviors>
				<behavior>
					<!-- so “?wsdl” works -->
					<serviceMetadata httpGetEnabled="true" />
					<!-- turn this off in production to avoid leaking exceptions -->
					<serviceDebug includeExceptionDetailInFaults="false" />
				</behavior>
			</serviceBehaviors>
		</behaviors>

		<!-- allow binding to multiple IIS bindings -->
		<serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
	</system.serviceModel>

	<system.webServer>
		<!-- ensure all managed modules run (needed for WCF in integrated pipeline) -->
		<modules runAllManagedModulesForAllRequests="true" />

		<handlers>
			<!-- the crucial .svc handler registration -->
			<add name=".svc"
				 verb="*"
				 path="*.svc"
				 type="System.ServiceModel.Activation.ServiceHttpHandlerFactory, System.ServiceModel.Activation,
                Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
		</handlers>

		<!-- optional: enable directory browsing while testing -->
		<directoryBrowse enabled="true" />
	</system.webServer>

</configuration>
